<config>
    <resolveTypedefs>true</resolveTypedefs>
    <qtMode>true</qtMode>
    <generator>smoke</generator>
    <definesList>/home/pumphaus/dev/kde/kdebindings-build/smoke/qtdefines</definesList>
    <includeDirs>
        <dir>/usr/include</dir>
        <dir>/usr/include/Qt</dir>
        <dir>/usr/include/QtCore</dir>
        <dir>/usr/include/QtGui</dir>
        <dir>/usr/include/QtNetwork</dir>
        <dir>/usr/include/QtDBus</dir>
        <dir>/usr/include/QtSql</dir>
        <dir>/usr/include/QtXml</dir>
        <dir>/usr/include/QtOpenGL</dir>
        <dir>/usr/include/QtSvg</dir>
    </includeDirs>
</config>
